<div class="tab_content / mpv-suv" style="display: block;">
	<div class="row / info / cf">
		<div class="model__badge">
			<img src="../assets/imgs/matrix/logos/sportage.png" alt="" class="model__logo">
			<a href="/" class="model__backlink"><i class="icon model__backlink--icon"></i></a>
		</div>
		<div class="half / col / model model--info">
			<img src="../assets/imgs/matrix/mpv-suv/sportage.png" alt="Sportage" class="model__image">
			<input type="checkbox" id="sportage3" name="sportage3" />
			<label for="sportage3"><span for="sportage3"></span>Rio</label>
			<div class="model__options">
				<div class="cf / row">
					<div class="half col">
						<input type="checkbox" id="spirit" name="spirit" />
						<label for="spirit"><span for="spirit"></span>Spirit</label>
					</div>
					<div class="half col">
						<input type="checkbox" id="vision" name="vision" />
						<label for="vision"><span for="vision"></span>Vision</label>
					</div><!-- /.half -->
				</div><!-- /.row -->
				<div class="cf / row">
					<div class="half col">
						<input type="checkbox" id="attract" name="attract" />
						<label for="attract"><span for="attract"></span>Attract</label>
					</div><!-- /.half -->
				</div><!-- /.row -->
				<div class="brochure">
					<a href="" class="brochure--link"><i class="icon brochure--icon"></i><span>Brochure</span></a>
				</div><!-- /.brochure -->
			</div><!-- /.model__options -->
		</div><!-- /.model -->
		<div class="half / col / model model--info">
			<img src="../assets/imgs/matrix/mpv-suv/sportage.png" alt="Sportage" class="model__image">
			<input type="checkbox" id="sportage4" name="sportage4" />
			<label for="sportage4"><span for="sportage4"></span>Sportage (2011 - Onwards)</label>
			<div class="model__options">
				<div class="cf / row">
					<div class="half col">
						<input type="checkbox" id="attract" name="attract" />
						<label for="attract"><span for="attract"></span>Attract</label>
					</div>
					<div class="half col">
						<input type="checkbox" id="vision" name="vision" />
						<label for="vision"><span for="vision"></span>Vision</label>
					</div><!-- /.half -->
				</div><!-- /.row -->
				<div class="cf / row">
					<div class="half col">
						<input type="checkbox" id="spirit" name="spirit" />
						<label for="spirit"><span for="spirit"></span>Spirit</label>
					</div>
					<div class="half col">
						<input type="checkbox" id="platinum" name="platinum" />
						<label for="platinum"><span for="platinum"></span>Platinum Edition</label>
					</div><!-- /.half -->
				</div><!-- /.row -->
				<div class="brochure">
					<a href="" class="brochure--link"><i class="icon brochure--icon"></i><span>Brochure</span></a>
				</div><!-- /.brochure -->
			</div><!-- /.model__options -->
		</div><!-- /.model -->
	</div><!-- /.row -->
</div><!-- #mid-size -->