/*
 * +-+-+-+-+-+-+-+-+-+-+-+-+
 * |----- BASEMENT 1.0 ----|
 * +-+-+-+-+-+-+-+-+-+-+-+-+
/*
    $_Basic_styles
    $_Fluid_media
    $_Grid
    $_Typography
    $_Links
    $_Lists
    $_Images
    $_Figures
    $_Slideshow
    $_Videos_and_other_media
    $_Breadcrumb
    $_Pagination
    $_Pager
    $_Tables
    $_Tabs
    $_Accordion_Tabs
    $_Buttons
    $_Forms
    $_Gallery
    $_Misc
    $_Modals
    $_Media_queries
    $_IE_fixes
    $_Helper_classes
    $_Print_styles
*/
/*
PX = REM
8px = 0.5rem
9px = 0.5625rem
10px = 0.625rem
11px = 0.6875rem
12px = 0.75rem
13px = 0.8125rem
14px = 0.875rem
15px = 0.9375rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
22px = 1.375rem
24px = 1.5rem
25px = 1.563rem
26px = 1.625rem
28px = 1.75rem
30px = 1.875rem
32px = 2rem
34px = 2.125rem
36px = 2.25rem
38px = 2.375rem
40px = 2.5rem
*/

/* $_Reset
================================================== */
html {
    font-size: 1em;
    line-height: 1.5;
    /*font-size: 62.5%;*/ /* IE7-8 Font Sizing */
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
body {
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* $_Fluid_media
================================================== */
figure {
    position: relative;
}
figure img,
figure object,
figure embed,
figure video {
    display: block;
    max-width: 100%;
}
object,
embed,
video,
picture {
    display: block;
    height: auto;
    max-width: 100%;
}
.flexiContainer {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.flexiContainer iframe,
.flexiContainer object,
.flexiContainer embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/* $_Typography
================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Georgia","Times New Roman",serif;
    font-weight: bold;
    margin-bottom: 24px;
    text-rendering: optimizelegibility; /* http://bit.ly/14964dQ */
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}
h1,
.alpha {
    font-size: 24px; /* 24px --> 24 ÷ 16 = 1.5 */
    font-size: 1.5rem;
    line-height: 1em; /* 24px --> 24 ÷ 24 = 1 */
}
h2,
.beta {
    font-size: 22px; /* 22px --> 22 ÷ 16 = 1.375 */
    font-size: 1.375rem;
    line-height: 1.0909em; /* 24px --> 24 ÷ 22 = 1.090909(09) */
}
h3,
.gamma {
    font-size: 20px; /* 20px --> 20 ÷ 16 = 1.25 */
    font-size: 1.25rem;
    line-height: 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
}
h4,
.delta {
    font-size: 18px; /* 18px --> 18 ÷ 16 = 1.125 */
    font-size: 1.125rem;
    line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}
h5,
.epsilon {
    font-size: 16px; /* 16px --> 16 ÷ 16 = 1 */
    font-size: 1rem;
    line-height: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
}
h6,
.zeta {
    font-size: 14px; /* 14px --> 14 ÷ 16 = 0.875 */
    font-size: .875rem;
    line-height: 1.714285714em; /* 24px --> 24 ÷ 14 = 1.714285714 */
    text-transform: uppercase;
}
.giga {
    font-size: 96px;
    font-size: 6rem;
    line-height: 1;
}
.mega {
    font-size: 72px;
    font-size: 4.5rem;
    line-height: 1;
}
.kilo {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1;
}
.lede,
.lead {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.33333;
}
.smallprint,
.milli {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
}
.micro {
    font-size: 10px;
    font-size: 0.625rem;
    line-height: 2.4;
}
ol,
ul,
dl,
address {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.5;
    margin-bottom: 24px;
}
small {
    font-size: 14px;
    font-size: .875rem;
}
.smallcaps {
    font-variant: small-caps;
    text-transform: lowercase;
}
q {
    quotes: none;
}
blockquote:before,
blockquote:after {
    content: '';
    content: none;
}
q:before,
q:after {
    content: '';
    content: none;
}
cite {
    font-style: normal;
}
dl {
    margin: 0;
}
dl,
dd {
    margin-bottom: 1.5em;
}
dt {
    font-weight: bold;
}
.dlHorizontal dt {
    clear: left;
    float: left;
    text-align: right;
    width: 20.25%;
}
.dlHorizontal dd {
    margin-left: 22.78%;
}
ins {
    text-decoration: none;
}
hr {
    clear: both;
    margin: 0.625em 0 1.875em;
}
mark {
    font-style: italic;
    font-weight: bold;
    padding: 0 0.25em;
}
pre,
code,
kbd,
samp {
    font-family: Monaco, Courier New, monospace;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.5;
}
p {
    hyphenate: auto;
    hyphenate-lines: 3;
    margin: 0 0 1.25em 0;
    word-spacing: 0.125em;
}
p img {
    margin: 0;
}
p.lead {
    font-size: 21px;
    font-size: 1.313rem;
    line-height: 1.6875;
}
p + p.noIndent {
    text-indent: 0;
}
em {
    font-style: italic;
}
small {
    font-size: 80%;
}
del {
    text-decoration: line-through;
}
.textRight {
    text-align: right;
}
.textLeft {
    text-align: left;
}
.textCenter {
    text-align: center;
}

/*
    Blockquotes
*/
blockquote {
    font-size: 17px;
    font-size: 1.063rem;
    font-style: italic;
    line-height: 1.5;
    margin: 0 0 1.25em;
    padding: 0.5625em 1.25em 0 1.1875em;
}
blockquote p {
    font-size: 17px;
    font-size: 1.063rem;
    font-style: italic;
    line-height: 1.5;
}
blockquote cite {
    display: block;
    font-size: 12px;
    font-size: .75rem;
}
blockquote cite:before {
    content: "\2014 \0020";
}


/* $_Links
================================================== */
p a {
    line-height: inherit;
}
p a:visited {
    line-height: inherit;
}
a img {
    border: none;
    display: block;
}

a:link.readmore {
    text-decoration: none;
    float: right;
}
a.readmore:after {
    content:" »";
}


/* $_Lists
================================================== */
ul,
ol {
    margin: 0;
    padding: 0;
}
ol {
    list-style: decimal;
    margin-left: 1.875em;
}
ul.square,
ul.circle,
ul.disc {
    margin-left: 1.875em;
}
ul.square {
    list-style: square outside;
}
ul.circle {
    list-style: circle outside;
}
ul.disc {
    list-style: disc outside;
}
ul ul,
ul ol {
    font-size: 90%;
    margin: 0.25em 0 0.3125em 1.875em;
}
ol ol,
ol ul {
    font-size: 90%;
    margin: 0.25em 0 0.3125em 1.875em;
}
ul ul li,
ul ol li {
    margin-bottom: .375em;
}
ol ol li,
ol ul li {
    margin-bottom: .375em;
}
li {
    line-height: 1.125em;
    margin-bottom: .75em;
}
ul.large li,
li p {
    line-height: 1.3125em;
}
.listBordered {
    list-style-type: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}
.listBordered li {
    margin-bottom: 0.375em;
    padding-bottom: 0.375em;
}
.listBordered li:last-child {
    border-bottom-width: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}


/* $_Images
================================================== */
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgRounded {
    border-radius: 4px;
}
.imgCircle {
    border-radius: 500px;
}
.imgPolaroid {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 12px;
}


/* $_Buttons
================================================== */
input,
select,
button {
    cursor: pointer;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border-radius: .1875em;
    cursor: pointer;
    display: inline-block;
    /*font-family: Arial, Helvetica, sans-serif;*/
/*    font-size: 11px;
    font-size: .6875rem;*/
    /*font-weight: bold;*/
    line-height: normal;
    /*margin-bottom: 1.25em;*/
    /*padding: 0.5em 0.625em;*/
    padding: 0.465em 0.625em;
    text-decoration: none;
}
.button.fullWidth,
button.fullWidth,
input[type="submit"].fullWidth,
input[type="reset"].fullWidth,
input[type="button"].fullWidth {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    width: 100%;
}
/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* $_Forms
================================================== */
form {
    margin: 0 0 1.25em;
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
legend {
    display: block;
    font-size: 21px;
    font-size: 1.313rem;
    line-height: 2.5em;
    margin-bottom: 1.25em;
    width: 100%;
}
legend small {
    font-size: 15px;
    font-size: .9375rem;
}
label,
input,
button,
select,
textarea {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-size: .875rem;
    font-weight: normal;
    line-height: 1.2em;
}
label {
    display: block;
    margin-bottom: .3125em;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditableInput {
    border-radius: .1875em;
    display: inline-block;
    font-size: 14px;
    font-size: .875rem;
    height: auto;
    line-height: 1.25em;
    margin-bottom: .5625em;
    padding: 0.5em 0.375em;
}
input[type="text"],
input[type="search"],
input[type="email"] {
    /*padding: 0.6em 0.375em;*/
    padding: 0.475em 0.375em;
}
input,
textarea,
.uneditableInput {
    width: auto;
}
textarea {
    height: auto;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    width: 100%;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditableInput {
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditableInput:focus {
    outline: 0;
}
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
    line-height: normal;
    margin: 0.25em 0 0;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}
select,
input[type="file"] {
    line-height: 1.875em;
}
select {
    width: 100%;
}
select[multiple],
select[size] {
    height: auto;
}
select:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.uneditableInput,
.uneditableTextarea {
    cursor: not-allowed;
}
.uneditableInput {
    overflow: hidden;
    white-space: nowrap;
}
.uneditableTextarea {
    height: auto;
    width: auto;
}
.radio,
.checkbox {
    min-height: 1.125em;
    padding-right: 1.125em;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    float: left;
    /*margin-left: -1.125em;*/
    margin-right: 4px;
    margin-top: 2px;
}
.radio input[type="radio"]:focus,
.checkbox input[type="checkbox"]:focus {
    outline: none;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
    padding-top: .3125em;
}
.radio.inline,
.checkbox.inline {
    display: inline-block;
    margin-bottom: 0;
    padding-top: .3125em;
    vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
    margin-left: .625em;
}
.inputMini,
.inputSmall,
.inputMedium,
.inputLarge,
.inputXlarge,
.inputXxlarge {
    width: 100%;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditableInput[class*="span"] {
    float: none;
    margin-left: 0;
}
.rowFluid input[class*="span"],
.rowFluid select[class*="span"],
.rowFluid textarea[class*="span"],
.rowFluid .uneditableInput[class*="span"] {
    float: none;
    margin-left: 0;
}
.inputAppend input[class*="span"],
.inputAppend .uneditableInput[class*="span"] {
    display: inline-block;
}
.inputPrepend input[class*="span"],
.inputPrepend .uneditableInput[class*="span"] {
    display: inline-block;
}
.rowFluid input[class*="span"],
.rowFluid select[class*="span"],
.rowFluid textarea[class*="span"],
.rowFluid .uneditableInput[class*="span"],
.rowFluid .inputPrepend [class*="span"],
.rowFluid .inputAppend [class*="span"] {
    display: inline-block;
}
input,
textarea,
.uneditableInput {
    margin-left: 0;
}
.controlsRow [class*="span"] + [class*="span"] {
    margin-left: 1.25em;
}
.controlsRow:before {
    content: "";
    display: table;
    line-height: 0;
}
.controlsRow:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
}
.controlsRow [class*="span"] {
    float: left;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
    background-color: transparent;
}
.formActions {
    margin: 1.125em 0;
    padding: 1.1875em 1.25em 1.25em;
}
.formActions:before {
    content: "";
    display: table;
    line-height: 0;
}
.formActions:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
}
.helpBlock {
    display: block;
    margin-bottom: .625em;
}
.helpInline {
    display: inline-block;
    padding-left: .3125em;
    vertical-align: middle;
    line-height: 2.15em;
}
.inputAppend,
.inputPrepend {
    font-size: 0;
    margin-bottom: .3125em;
    white-space: nowrap;
}
.inputAppend input,
.inputPrepend input,
.inputAppend select,
.inputPrepend select,
.inputAppend .uneditableInput,
.inputPrepend .uneditableInput {
    border-radius: 0 3px 3px 0;
    font-size: 14px;
    font-size: .875rem;
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
}
.inputAppend input:focus,
.inputPrepend input:focus,
.inputAppend select:focus,
.inputPrepend select:focus,
.inputAppend .uneditableInput:focus,
.inputPrepend .uneditableInput:focus {
    z-index: 2;
}
.inputAppend .addOn,
.inputPrepend .addOn {
    display: inline-block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: normal;
    height: auto;
    line-height: 1.25em;
    min-width: 1em;
    padding: 0.5em 0.3125em;
    text-align: center;
    width: auto;
}
.inputAppend .addOn,
.inputPrepend .addOn {
    /*line-height: 1.20em;*/
    line-height: 1.1em;
}
.inputAppend .addOn,
.inputPrepend .addOn,
.inputAppend .btn,
.inputPrepend .btn {
    border-radius: 0;
    vertical-align: middle;
}
.inputPrepend .addOn,
.inputPrepend .btn {
    margin-right: -0.0625em;
}
.inputPrepend .addOn:first-child,
.inputPrepend .btn:first-child {
    border-radius: 3px 0 0 3px;
}
.inputAppend input,
.inputAppend select,
.inputAppend .uneditableInput {
    border-radius: 3px 0 0 3px;
}
.inputAppend .addOn,
.inputAppend .btn {
    margin-left: -0.0625em;
}
.inputAppend .addOn:last-child,
.inputAppend .btn:last-child {
    border-radius: 0 3px 3px 0;
}
.inputPrepend.inputAppend input,
.inputPrepend.inputAppend select,
.inputPrepend.inputAppend .uneditableInput {
    border-radius: 0;
}
.inputPrepend.inputAppend .addOn:first-child,
.inputPrepend.inputAppend .btn:first-child {
    margin-right: -1px;
    border-radius: 3px 0 0 3px;
}
.inputPrepend.inputAppend .addOn:last-child,
.inputPrepend.inputAppend .btn:last-child {
    margin-left: -0.0625em;
    border-radius: 0 3px 3px 0;
}
input.searchQuery {
    border-radius: 1em;
    margin-bottom: 0;
    padding-right: .875em;
    padding-left: .875em;
}

/* Allow for input prepend/append in search forms */
.formSearch .inputAppend .searchQuery,
.formSearch .inputPrepend .searchQuery {
    border-radius: 0;
}
.formSearch .inputAppend .searchQuery {
    border-radius: 0.875em 0 0 0.875em;
}
.formSearch .inputAppend .btn {
    border-radius: 0 0.875em 0.875em 0;
}
.formSearch .inputPrepend .searchQuery {
    border-radius: 0 0.875em 0.875em 0;
}
.formSearch .inputPrepend .btn {
    border-radius: 0.875em 0 0 0.875em;
    height: auto;
}
.formSearch input,
.formInline input,
.formHorizontal input,
.formSearch textarea,
.formInline textarea,
.formHorizontal textarea,
.formSearch select,
.formInline select,
.formHorizontal select,
.formSearch .helpInline,
.formInline .helpInline,
.formHorizontal .helpInline,
.formSearch .uneditable-input,
.formInline .uneditable-input,
.formHorizontal .uneditable-input,
.formSearch .inputPrepend,
.formInline .inputPrepend,
.formHorizontal .inputPrepend,
.formSearch .inputAppend,
.formInline .inputAppend,
.formHorizontal .inputAppend {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
  }
.formSearch .hide,
.formInline .hide,
.formHorizontal .hide {
    display: none;
}
.formSearch label,
.formInline label,
.formSearch .btnGroup,
.formInline .btnGroup {
    display: inline-block;
}
.formSearch .inputAppend,
.formInline .inputAppend,
.formSearch .inputPrepend,
.formInline .inputPrepend {
    margin-bottom: 0;
}
.formSearch .radio,
.formSearch .checkbox {
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
}
.formInline .radio,
.formInline .checkbox {
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
}
.formSearch .radio input[type="radio"],
.formSearch .checkbox input[type="checkbox"] {
    float: left;
    margin-right: .1875em;
    margin-left: 0;
}
.formInline .radio input[type="radio"],
.formInline .checkbox input[type="checkbox"] {
    float: left;
    margin-right: .1875em;
    margin-left: 0;
}
.controlGroup {
    margin-bottom: .625em;
}
legend + .controlGroup {
    margin-top: 1.25em;
    -webkit-margin-top-collapse: separate;
}
/*.formHorizontal {
    width: 90%;
}*/
.formHorizontal .controlGroup {
    margin-bottom: 1.25em;
}
.formHorizontal .controlGroup:before {
    content: "";
    display: table;
    line-height: 0;
}
.formHorizontal .controlGroup:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
}
.formHorizontal .controlLabel {
    float: left;
/*    width: 49%;*/
    padding-top: 5px;
    padding-right: 24px;
    text-align: right;
}
/*.formHorizontal .controls {
    margin-left: 49%;
}*/
.formHorizontal .help-block {
    margin-bottom: 0;
}
.formHorizontal input + .helpBlock,
.formHorizontal select + .helpBlock,
.formHorizontal textarea + .helpBlock {
    margin-top: .625em;
}
.formHorizontal .formActions {
    padding-left: 11.25em;
}


/* $_Accordion_Tabs
================================================== */
.accordionTabs {
    display: block;
    margin: 0 0 1.25em 0;
    padding: 0;
}
.accordionTabs li {
    border-width: 1px 1px 0 0;
    border-bottom: none;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-size: .8125rem;
    float: left;
    height: 2.3em;
    line-height: 2.5em;
    margin: 0;
    padding: 0 1.25em;
    text-decoration: none;
    width: auto;
}
.accordionTabs li.active {
    border-left-width: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 2.625em;
    margin: 0 0 -4px 0;
    padding-top: 3px;
    position: relative;
    top: -3px;
}
.accordionTabs li:first-child {
    border-top-left-radius: 2px;
    border-width: 1px 1px 0 1px;
}
.accordionTabs li.active:first-child {
    margin-left: 0;
}
.accordionTabs li:last-child {
    border-top-right-radius: 2px;
}
.accordionTabs:before {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.accordionTabs:after {
    clear: both;
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.tabDrawerHeading {
    display: none;
}
.tabsContainer {
    margin-bottom: 2%;
}
.tabsContainer div.tabContent {
    padding: 2%;
}
@media only screen and (max-width: 30em) { /* 480 */
    .accordionTabs {
        display: none;
    }
    .tabDrawerHeading {
        background: #f5f5f5;
        border: 1px solid #DDD;
        margin: 0;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .drawerActive {
        background: #FFF;
        border-bottom: 1px solid #FFF;
        color: #111;
        margin-bottom: -1px; /* In FF, the border causes a gap in the container */
    }
}


/* $_Grid
================================================== */
.col {
    margin: 0 0 10px 0;
    padding-right: 10px;
}

@media (min-width: 40em) {
    .col {
        float: left;
    }
    .col.full {
        width: 100%;
    }
    .col.two-thirds {
        width: 66.666666667%;
    }
    .col.half {
        width: 50%;
    }
    .col.third {
        width: 33.3333333333%;
    }
    .col.quarter {
        width: 25%;
    }
    .col.flow-opposite {
        float: right;
    }
}


/* $_Helper_classes
================================================== */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}
.ir:before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
}
.hidden,
.is-hidden {
    display: none !important;
    visibility: hidden;
}
.is-visible {
    display: block;
}
.hiddenText {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyHidden.focusable:active,
.visuallyHidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.clr {
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}


/* $_Layouts
================================================== */
.container {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
}
.content {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 1366px;
    /*min-width: 1024px;*/
    padding: 0;
    /*position: relative;*/
    width: 100%;
}
/*main {
    float: left;
    width: 966px;
}
aside {
    float: right;
    width: 380px;
}
*/

/* $_Header
================================================== */
header.container {
    border-bottom: 3px solid #CCC;
    margin-bottom: 14px;
}
header .header--logo {
    float: left;
}


/* $_Navigation
================================================== */
nav.nav--main {
    float: right;
    margin: 43px 35px 0 0;
}
nav.nav--main ul {
    margin: 0;
    padding: 0;
}
nav.nav--main ul li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0 22px 0 22px;
    position: relative;
}
nav.nav--main ul li:last-child {
    margin-right: 0;
}
nav.nav--main ul li a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    color: #666;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    line-height: 16px;
    padding: 5px 15px 4px 15px;
    text-decoration: none;
    transition: all 0.5s ease-out;
    position: relative;
    overflow: hidden;
}
nav.nav--main ul li a:hover {
    border-bottom: 3px solid transparent;
}

/* $_Footer
================================================== */
footer {
    background: #DDD;
}
.copyright,
.links,
.social-media {
    float: left;
}
footer p,
footer a {
    color: #666;
    font-size: 10px;
    font-size: .625rem;
    font-family: "NeoSansStdRegular" Arial, serif;
    text-decoration: none;
    text-transform: uppercase;
}
footer p {
    margin: 26px 18px 0 6px;
}
footer a {
    margin: 24px 18px 0 6px;
    padding-bottom: 2px;
}


/* $_Print_styles
================================================== */
@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group; /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm; /* http://bit.ly/16GsNK8 */
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}