/* $_Webfonts
================================================== */
@font-face {
	font-family:'NeoSansStdBold';
	src: url('../fonts/neosansstd-bold-webfont.eot');
	src: url('../fonts/neosansstd-bold-webfont.eot?iefix') format('eot'),
		 url('../fonts/neosansstd-bold-webfont.woff') format('woff'),
		 url('../fonts/neosansstd-bold-webfont.ttf') format('truetype'),
		 url('../fonts/neosansstd-bold-webfont.svg#NeoSansStdBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family:'NeoSansStdLight';
	src: url('../fonts/neosansstd-light-webfont.eot');
	src: url('../fonts/neosansstd-light-webfont.eot?iefix') format('eot'),
		 url('../fonts/neosansstd-light-webfont.woff') format('woff'),
		 url('../fonts/neosansstd-light-webfont.ttf') format('truetype'),
		 url('../fonts/neosansstd-light-webfont.svg#NeoSansStdLight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'NeoSansStdMedium';
	src: url('../fonts/neosansstd-medium-webfont.eot');
	src: url('../fonts/neosansstd-medium-webfont.eot?iefix') format('eot'),
		 url('../fonts/neosansstd-medium-webfont.woff') format('woff'),
		 url('../fonts/neosansstd-medium-webfont.ttf') format('truetype'),
		 url('../fonts/neosansstd-medium-webfont.svg#NeoSansStdMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'NeoSansStdRegular';
	src: url('../fonts/neosansstd-regular-webfont.eot');
	src: url('../fonts/neosansstd-regular-webfont.eot?iefix') format('eot'),
		 url('../fonts/neosansstd-regular-webfont.woff') format('woff'),
		 url('../fonts/neosansstd-regular-webfont.ttf') format('truetype'),
		 url('../fonts/neosansstd-regular-webfont.svg#NeoSansStdRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.required {
	color: #BB162B;
}


/* $_Header
================================================== */
.kia header {
    border-color: #BB162B;
    background-color: #FFF;
	background: #FFF;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,#FFF 60%,#F7F7F7 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(60%,#FFF),color-stop(100%,#F7F7F7));
	background: -webkit-linear-gradient(top,#FFF 60%,#F7F7F7 100%);
	background: -o-linear-gradient(top,#FFF 60%,#F7F7F7 100%);
	background: -ms-linear-gradient(top,#FFF 60%,#F7F7F7 100%);
	background: linear-gradient(to bottom,#FFF 60%,#F7F7F7 100%);
}
.kia header .header--logo {
	float: left;
	margin: 15px 32px 16px 35px;
}
.header--heading {
    float: left;
	font-family: "NeoSansStdMedium", Helvetica, sans-serif;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: normal;
    margin: 26px 0 0 0;
	text-transform: uppercase;
}

/* $_Footer
================================================== */
.kia footer {
	background: #E4E5E6 url('../imgs/footer-bg.gif') repeat-x 0 0;
	height: 86px;
}
.kia .footer--logo {
	float: right;
	margin-bottom: 10px;
}
.links {
	margin: 26px 18px 0 6px;
	position: relative;
	width: 100px;
}
.links li {
	list-style: none;
}
.links li:before {
	background: url('../imgs/sprite.png') no-repeat -206px 0;
	content: " ";
	display: block;
	height: 5px;
	left: -4px;
	position: absolute;
	top: 5px;
	width: 3px;
}
.links a {
	border-bottom: 1px solid transparent;
}
.links a:hover {
	border-bottom: 1px solid #666;
}
.links a:hover .icon.globe {
	background-position: -171px 0;
}
.icon {
	background: url('../imgs/sprite.png') no-repeat 0 0;
	cursor: pointer;
	display: block;
	position: absolute;
}
.icon.globe {
	background-position: -156px 0;
	display: inline-block;
	height: 13px;
	margin: 2px 0 0 10px;
	width: 14px;
}
.social-media {
	margin-top: 16px;
}
.social-media li {
	display: inline-block;
	list-style: none;
	margin: 0;
}
.social-media .social-media__icons {
	background-image: url('../imgs/sprite.png');
	background-position: no-repeat;
	cursor: pointer;
	float: left;
	height: 25px;
	position: absolute;
	width: 25px;
}
.social-media .social-media__icons.social-media__icons--fb {
	background-position: 0 0;
}
.social-media .social-media__icons.social-media__icons--fb:hover {
	background-position: -26px 0;
}
.social-media .social-media__icons.social-media__icons--tw {
	background-position: -52px 0;
}
.social-media .social-media__icons.social-media__icons--tw:hover {
	background-position: -78px 0;
}
.social-media .social-media__icons.social-media__icons--yt {
	background-position: -104px 0;
}
.social-media .social-media__icons.social-media__icons--yt:hover {
	background-position: -130px 0;
}


/* $_Navigation
================================================== */
.kia nav.nav--main ul li a {
	color: #333;
	font-family: "NeoSansStdMedium", Arial, serif;
}
.kia nav.nav--main ul li a.active,
.kia nav.nav--main ul li a:hover {
    border-bottom: 3px solid #BB162B;
}


/* $_Search
================================================== */
.basic-search {
	background: #E4E5E6;
	min-height: 70px;
	margin-bottom: 20px;
}
.basic-search .search-results {
	background: #FFF;
	border: 1px solid #C3C3C3;
	color: #7C7C7C;
	margin: 10px;
	min-width: 338px;
}
.basic-search .search__results {
	float: left;
	font-family: "NeoSansStdBold", serif;
	font-size: 24px;
	font-size: 1.5rem;
	margin: 2px 24px 0 16px;
}
.basic-search .search__results .search__results--number,
.basic-search .search__results sup {
	color: #222;
}
.basic-search .search__button {
	float: right;
	margin: 5px;
}
.basic-search .search__button .button {
	font-size: 25px;
	font-size: 1.563rem;
	height: 38px;
	padding: 0 30px;
}
.basic-search .location {
	width: 610px;
}
.basic-search .location .search__distance {
	width: 175px;
}
.basic-search .location .search__location {
	border: 2px solid #C2C2C2;
	border-radius: 0;
}
.basic-search .location input[type="text"]:active,
.basic-search .location input[type="text"]:focus,
.basic-search .location input[type="text"].error {
	border: 2px solid #AE1428;
	outline: none;
}
.basic-search .location select:active,
.basic-search .location select:focus {
	border: 1px solid #AE1428;
	outline: none;
}
.basic-search .location .search__location,
.basic-search .location .search__distance {
	margin: 20px 24px 0 0;
}
.basic-search .location select {
	background: #FFF;
	color: #666;
	border-radius: 0;
	border: 1px solid #C2C2C2;
}
.location__heading {
	color: #7E8083;
	float: left;
	font-family: "NeoSansStdMedium", Helvetica, sans-serif;
	font-size: 25px;
	font-size: 1.563rem;
	font-weight: normal;
	margin: 20px 22px 0 10px; /*26px 22px 0 10px*/
}
.button {
	background: none;
	font-family: "NeoSansStdMedium", Helvetica, sans-serif;
	font-weight: normal;
	height: auto;
	line-height: 1;
	margin: 0;
	padding: 0;
	outline: none;
	text-align: center;
}
.button--large {
	font-size: 16px;
	font-size: 1rem;
	font-weight: normal;
	text-transform: uppercase;
}
.button--red {
	background: #ba162b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ba162b 0%, #a21325 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ba162b), color-stop(100%,#a21325)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ba162b 0%,#a21325 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ba162b 0%,#a21325 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ba162b 0%,#a21325 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ba162b 0%,#a21325 100%); /* W3C */
	border: 1px solid #901514;
	border-radius: 2px;
	color: #FFF;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba162b', endColorstr='#a21325',GradientType=0 ); /* IE6-9 */
}
.button--red:hover,
.button--red:focus {
	background: #a21325; /* Old browsers */
	background: -moz-linear-gradient(top,  #a21325 0%, #ba162b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a21325), color-stop(100%,#ba162b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a21325 0%,#ba162b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a21325 0%,#ba162b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a21325 0%,#ba162b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a21325 0%,#ba162b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a21325', endColorstr='#ba162b',GradientType=0 ); /* IE6-9 */
}


.button--grey {
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #d8d8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefefe 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefefe 0%,#d8d8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefefe 0%,#d8d8d8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefefe 0%,#d8d8d8 100%); /* W3C */
	border: 1px solid #CCC;
	border-radius: 2px;
	color: #333;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
}
.button--grey:hover,
.button--grey:focus {
	background: #d8d8d8; /* Old browsers */
	background: -moz-linear-gradient(top, #d8d8d8 0%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d8d8d8 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d8d8d8 0%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d8d8d8 0%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d8d8d8 0%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

/* $_Main
================================================== */
main {
	float: left;
	position: relative;
	width: 100%;
}
@media only screen and (min-width: 64.063em) { /* 1025 */
	main {
		width: 74.2559524%;
	}
}


/* $_Aside
================================================== */
aside {
	display: none;
	border: 1px solid #DCDCDC;
	color: #666;
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 14px;
	font-size: .875rem;
	float: right;
	height: 488px;
	margin-left: .7440476%;
	padding: 20px;
	width: 25%;
}
@media only screen and (min-width: 64.063em) { /* 1025 */
	aside {
		display: block;
	}
}

aside hr {
	border: none;
	background-color: #DCDCDC;
	color: #DCDCDC;
	height: 1px;
	margin: 25px 0;
}
aside .main-heading {
	color: #333;
	font-family: "NeoSansStdMedium", Helvetica, sans-serif;
	font-size: 30px;
	font-size: 1.875rem;
	font-weight: normal;
	margin: 16px 0 8px 0;
}
aside .sub-heading {
	font-family: "NeoSansStdRegular", Helvetica, sans-serif;
	font-size: 26px;
	font-size: 1.625rem;
	font-weight: normal;
	margin: 0;
}


/* .search
================================================== */
.search {
	float: left;
	margin-right: .998004%;
	min-height: 488px;
	position: relative;
	/*transition: all 0.3s ease-out;*/
}
.search .search__header {
	position: relative;
}
.search .search__search-icon {
	cursor: default;
	height: 16px;
	width: 16px;
}
.search .search__title {
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 16px;
	font-size: 1rem;
}
.search .search__close-icon,
.search .search__close-fake-icon {
	height: 17px;
	top: 20px;
	width: 11px;
}
/*
	.search--open
*/
.search--open {
	border: 1px solid #DCDCDC;
	transition: all 0.3s ease-out;
	width: 19.6606786%;
}
.search--open .search__header {
	border-bottom: 1px solid #DCDCDC;
	height: 51px;
}
.hitlist .search--open .search__header {
	height: 60px;
}
.search--open .search__search-icon {
	background-position: -262px 0;
	left: 6px;
	top: 20px;
}
.hitlist .search--open .search__search-icon {
	left: 10px;
	top: 22px;
}
.search--open .search__title {
	color: #666;
	margin: 18px 0 0 33px;
}
.hitlist .search--open .search__title {
	margin: 20px 0 0 40px;
}
.search--open .search__close-icon {
	background-position: -296px 0;
	right: 11px;
}
.search--open .search__close-fake-icon {
	display: none;
}
/*
	.search--closed
*/
.search--closed {
	background: #7e8083;
	border: 1px solid #DCDCDC;
	cursor: pointer;
	min-width: 4.7904192%;
	min-height: 488px;
}
.search--closed .search__search-icon {
	background-position: -279px 0;
	bottom: -476px;
	cursor: pointer;
	left: 14px;
}
.search--closed .search__title {
	color: #FFF;
	position: absolute;
	right: -10px;
	transform: rotate(-90deg);
	top: 392px;
}
.search--closed .search__close-icon {
	display: none;
}
.search--closed .search__close-fake-icon {
	background-position: -308px 0;
	left: 8px;
	margin: 10px;
	top: 10px;
}

/*
	.search__element
*/
.search .search__element {
	margin-bottom: 0;
}
.search__element input[type="text"] {
	width: 100%;
}
.search .search__element--fixed {
	bottom: 0;
	position: absolute;
	width: 100%;
}
.hitlist .search .search__element--fixed  {
	position: relative;
}
.search .search__element .checkbox {
	padding: 0;
}
.search .search__element .active {
	border-bottom: 1px solid #DCDCDC;
}
.search .search__element dd {
	margin: 0;
	padding: 10px;
}
.search .search__element dt {
	position: relative;
}
.search .search__element select,
.search .search__element label {
	font-family: "NeoSansStdRegular", Arial, serif;
	font-weight: normal;
}
.search .search__element select {
	font-size: 14px;
	font-size: .875rem;
}
.search .search__element label {
	cursor: pointer;
	font-size: 12px;
	font-size: .75rem;
}
select,
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
	border-radius: 0;
	border: 1px solid #C2C2C2;
	color: #BB162B;
}
select {
	background: #FFF;
	color: #666;
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 12px;
	font-size: .75rem;
	margin: 10px 0 0 0;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.search .search__element select:first-of-type {
	margin-top: 0;
}
input:focus,
select:focus,
textarea:focus {
	border: 1px solid #BB162B;
	color: #BB162B;
	outline: none;
}
input[type="text"] {
	font-family: "NeoSansStdRegular", Arial, serif;
	font-weight: normal;
}
.search .search__element .search__element__title {
	background: #FFF; /* Old browsers */
	background: -moz-linear-gradient(top, #FFF 0%, #ECECEC 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#ECECEC)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFF 0%,#ECECEC 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFF 0%,#ECECEC 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFF 0%,#ECECEC 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFF 0%,#ECECEC 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #DCDCDC;
	color: #666;
	cursor: pointer;
	display: block;
	font-family: "NeoSansStdMedium", Arial, serif;
	font-size: 12px;
	font-size: .75rem;
	font-weight: normal;
	padding: 8px;
	text-decoration: none;
}
.search .search__element__title.active {
	color: #BB162B;
}
.search .search__element.is-open .search__element__title {
	border-top: 1px solid #DCDCDC;
	color: #BB162B;
	cursor: default;
}
.search .search__element.is-open .search__element__title.first {
	border-top: none;
}
.search .search__element .search__element__title .icon.arrow {
	background-position: -321px 0;
	display: inline-block;
	height: 9px;
	position: absolute;
	right: 10px;
	top: 13px;
	width: 9px;
}
.search .search__element.is-open .search__element__title .icon.arrow {
	background-position: -321px -10px;
	cursor: default;
	top: 14px;
}
.search .search__element__title.active .icon.arrow {
	background-position: -321px -10px;
}
/*
	.search__element__age
*/
.search .search__element .search__element__age select {
	float: left;
	width: 48%;
	margin-right: 2%;
	margin-top: 0;
}
.search .search__element .search__element__age select:last-of-type {
	margin-right: 0;
	margin-left: 2%;
}
/*
	.search__element__bodystyle
*/
.search .search__element .search__element__bodystyle input[type="checkbox"] + label {
	margin-bottom: 10px;
}
.search .search__element .search__element__bodystyle input[type="checkbox"] + label span {
	margin-top: -4px;
}
.search .search__element .search__element__bodystyle .left {
	float: left;
	width: 55%;
}
.search .search__element .search__element__bodystyle .right {
	float: left;
	width: 45%;
}
.search .search__element .search__element__bodystyle .left label:last-of-type,
.search .search__element .search__element__bodystyle .right label:last-of-type {
	margin-bottom: 0
}
/*
	.search__element__colour
*/
.search .search__element dd.search__element__colour {
	padding: 14px 6px 0 16px;
}
dd.search__element__colour .checkbox input[type="checkbox"] + label {
	margin: 0 10px 12px 0;
}
.hitlist dd.search__element__colour .checkbox input[type="checkbox"] + label {
	margin: 0 8px 12px 0;
}
.search .search__element .search__element__colour div {
	float: left;
	padding: 0;
}
.search .search__element .search__element__colour div input[type="checkbox"] + label span {
	background-image: url('../imgs/sprite.png');
	background-repeat: no-repeat;
    display: inline-block;
    height: 33px;
    margin: 0;
    vertical-align: middle;
    width: 33px;
}
.search .search__element .search__element__colour .black input[type="checkbox"] + label span {
	background-position: -380px 0;
}
.search .search__element .search__element__colour .black input[type="checkbox"]:checked + label span {
    background-position: -414px 0;
}
.search .search__element .search__element__colour .white input[type="checkbox"] + label span {
	background-position: -448px 0;
}
.search .search__element .search__element__colour .white input[type="checkbox"]:checked + label span {
    background-position: -482px 0;
}
.search .search__element .search__element__colour .grey input[type="checkbox"] + label span {
	background-position: -516px 0;
}
.search .search__element .search__element__colour .grey input[type="checkbox"]:checked + label span {
    background-position: -550px 0;
}
.search .search__element .search__element__colour .brown input[type="checkbox"] + label span {
	background-position: -584px 0;
}
.search .search__element .search__element__colour .brown input[type="checkbox"]:checked + label span {
    background-position: -618px 0;
}
.search .search__element .search__element__colour .blue input[type="checkbox"] + label span {
	background-position: -652px 0;
}
.search .search__element .search__element__colour .blue input[type="checkbox"]:checked + label span {
    background-position: -686px 0;
}
.search .search__element .search__element__colour .green input[type="checkbox"] + label span {
	background-position: -720px 0;
}
.search .search__element .search__element__colour .green input[type="checkbox"]:checked + label span {
    background-position: -754px 0;
}
.search .search__element .search__element__colour .red input[type="checkbox"] + label span {
	background-position: -788px 0;
}
.search .search__element .search__element__colour .red input[type="checkbox"]:checked + label span {
    background-position: -822px 0;
}
.search .search__element .search__element__colour .yellow input[type="checkbox"] + label span {
	background-position: -856px 0;
}
.search .search__element .search__element__colour .yellow input[type="checkbox"]:checked + label span {
    background-position: -890px 0;
}
/*
	.search__element__price
*/
.search .search__element .search__element__price select {
	float: left;
	margin-right: 2%;
	margin-top: 0;
	width: 48%;
}
.search .search__element .search__element__price select:last-of-type {
	margin-right: 0;
	margin-left: 2%;
}
/*
	.search__element__used
*/
.search .search__element .search__element__used {
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	padding: 10px;
}
.search--open .search__element .search__element__used {
	border-bottom: none;
}
.search .search__element .search__element__used label {
	display: inline;
	margin: 0;
}
.search .search__element .search__element__used input[type="checkbox"] + label span {
	margin-top: -4px;
}
/*
	.search__element__reset
*/
.search .search__element .search__element__reset {
	background: #EBEBEB;
	border-top: 1px solid #DCDCDC;
	padding: 5px 10px 4px 10px;
	width: 100%;
}
.search .search__element .search__element__reset input[type="reset"] {
	background-color: transparent;
	border: none;
	color: #666;
	font-family: "NeoSansStdMedium", Arial, serif;
	font-size: 12px;
	font-size: .75rem;
	font-weight: normal;
	margin: 0;
	padding: 0 0 0 20px;
	width: auto;
}
.search .search__element .search__element__reset input[type="reset"]:focus,
.search .search__element .search__element__reset input[type="reset"]:active {
	outline: none;
}
.search .search__element .search__element__reset .icon.reset {
	background-position: -365px 0;
	height: 13px;
	margin-top: 6px;
	width: 14px
}

/*
	Custom Checkboxes
*/
.checkbox input[type="checkbox"] {
    display: none;
}
.checkbox label {
	color: #666;
	cursor: pointer;
	display: inline;
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 12px;
	font-size: .75rem;
	margin: 0;
}
.checkbox input[type="checkbox"] + span {
	background: url('../imgs/sprite.png') no-repeat -331px 0;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 0 4px 0 0;
    vertical-align: middle;
    width: 16px;
}
.checkbox.checked input[type="checkbox"] + span {
    background: url('../imgs/sprite.png') no-repeat -348px 0;
}


/* $_Matrix
================================================== */
.matrix {
	border: 1px solid #DCDCDC;
	float: left;
	min-height: 488px;
	position: relative;
}
.matrix.search-is-closed {
	width: 94.2115768%;
}
.matrix.search-is-open {
	width: 79.3413174%;
}
.matrix .quarter:nth-child(4n+1) {
    margin-left: 0;
}
.matrix .row {
	background: url('../imgs/matrix-bg.png') repeat-x 0 0;
	padding: 0 38px 0 38px;
}
.matrix.search-is-open .row {
	padding: 0 16px 0 16px;
}
.matrix .all .row:first-of-type {
	margin-top: 10px;
}
.matrix.search-is-open .all .row:first-of-type {
	margin-top: 21px;
}
.matrix .all .row:last-of-type {
	margin-bottom: 12px;
}
.matrix.search-is-open .all .row:last-of-type {
	margin-bottom: 25px;
}
.matrix .compact .row,
.matrix .mid-size .row,
.matrix .mpv-suv .row {
	height: 217px;
	padding: 25px;
}
.matrix .row.top {
	background: url('../imgs/matrix-row-top-bg.png') no-repeat 0 0;
}
.matrix .row.bot {
	background: url('../imgs/matrix-row-bot-bg.png') no-repeat 0 0;
}
.matrix .row.info {
	background: url('../imgs/matrix-model-info-bg.jpg') no-repeat 0 -50px;
	height: 432px;
	position: relative;
}
.matrix .row.info {
	margin: 0 !important;
}
.matrix .col {
	margin: 0;
	padding: 0;
	position: relative;
}
.matrix .model .is-disabled {
	background: rgba(255, 255, 255, 0.8);
	display: none;
	height: 100%;
	min-height: 100px;
	opacity: .6;
	position: absolute;
	width: 100%;
	z-index: 10;
}
.matrix .model .model__badge {
    margin: 25px 25px 0 25px;
}
.tabs {
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top, #ededed 0%, #dfdfdf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ededed 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ededed 0%,#dfdfdf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ededed 0%,#dfdfdf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ededed 0%,#dfdfdf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
	height: 53px;
	margin: 0;
	padding: 0 34px 0 34px;
}
.tabs .is-disabled {
	background: rgba(255, 255, 255, 0.8);
	display: none;
	height: 53px;
	left: 0;
	opacity: .6;
	position: absolute;
	width: 100%;
	z-index: 10;
}
.tabs .is-disabled.active {
	display: block;
}
.tabs ul {
	margin: 0 34px 0 34px;
	padding: 0;
}
.tabs li {
	color: #666;
	cursor: pointer;
	display: inline-block;
	font-family: "NeoSansStdMedium", Arial, serif;
	font-size: 15px;
	font-size: .9375rem;
	height: 41px;
	float: left;
	list-style: none;
	margin: 12px 1% 0 1%;
	padding: 14px 0 12px 0;
	text-align: center;
	transition: background 0.3s ease-out;
	width: 23%;
}
.tabs li.active,
.tabs li:hover,
.tabs li:focus {
	background: #FFF;
}


.matrix .model {
	cursor: pointer;
	padding: 0 0 0 10px;
}
.matrix .model--large {
	height: 167px;
	padding: 0 60px 0 60px;
}
.matrix.search-is-open .model--large {
	padding: 0 20px 0 20px;
}
.matrix .model--info {
	padding: 24px 0 0 34px;
}
.matrix.search-is-open .model--info {
	padding: 24px 0 0 16px;
}
.matrix .model--info .model__options {
 	margin: 16px 54px 0 0;
}
.matrix .model__options .row:first-of-type {
	margin-top: 0;
}
.model .model__optionslink .icon.model__optionslink--icon {
	background-position: -210px 0;
	display: inline-block;
	height: 25px;
	position: absolute;
	right: 24px;
	top: 10px;
	width: 25px;
}
.model--large .model__optionslink .icon.model__optionslink--icon {
	right: 30px;
}
.model .model__optionslink:hover .icon.model__optionslink--icon {
	background-position: -236px 0;
}
.model .model__optionslink:hover .model__optionslink--label {
	opacity: 1;
	transition: all 0.3s ease-out;
	visibility: visible;
}
.model .model__optionslink .model__optionslink--label {
	background: #BB162B;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
	color: #FFF;
	cursor: pointer;
	opacity: 0;
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 14px;
	font-size: .875rem;
	padding: 6px 10px;
	position: absolute;
	right: -18px;
	top: 34px;
	visibility: hidden;
	z-index: 5;
}
.model--large .model__optionslink .model__optionslink--label {
	right: -11px;
}
.model .model__optionslink .arrow:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.model .model__optionslink .arrow:after {
	border-bottom-color: #BB162B;
	border-width: 6px;
	left: 50%;
	margin-left: -6px;
}
.model .model__image {
	cursor: pointer;
}
.model input[type="checkbox"] {
    display: none;
}
.model label {
	color: #666;
	cursor: pointer;
	display: inline;
	font-family: "NeoSansStdMedium", Arial, serif;
	font-size: 12px;
	font-size: .75rem;
	margin: 0;
}
.model--large input[type="checkbox"] + label,
.model--info input[type="checkbox"] + label {
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: normal;
}
.model--large .model__options input[type="checkbox"] + label,
.model--info .model__options input[type="checkbox"] + label {
	color: #333;
    font-size: 13px;
    font-size: .8125rem;
}
.model input[type="checkbox"] + span {
	background: url('../imgs/sprite.png') no-repeat -331px 0;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    width: 16px;
}
.model--info .model__options input[type="checkbox"] + span {
	margin: 7px 10px 7px 0;
}
.model.checked input[type="checkbox"] + span {
    background: url('../imgs/sprite.png') no-repeat -348px 0;
}
.matrix .model__options {
	border-top: 1px solid #C3C3C3;
	margin: 16px 54px 0 0;
}
.matrix .model__options .row {
	background: transparent;
	border-bottom: 1px solid #C3C3C3;
	height: auto;
	padding: 0;
}
.model__backlink {
	width: 35px;
	height: 35px;
	margin-right: 34px;
	position: absolute;
	right: 0;
}
.icon.model__backlink--icon {
	background-position: -972px 0;
	height: 35px;
	width: 35px;
	z-index: 5;
}
.icon.model__backlink--icon:hover {
	background-position: -1008px 0;
}
.model__logo {
	padding: 6px 0 7px 11px;
}
.brochure {
	display: block;
	margin-top: 16px;
}
.brochure--link {
	color: #7E8083;
	display: inline-block;
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 14px;
	font-size: .875rem;
	text-decoration: none;
}
.brochure--link span {
	margin-left: 30px;
}
.brochure--link .icon.brochure--icon {
	background-position: -924px 0;
	height: 22px;
	width: 23px;
}
.brochure--link:hover .icon.brochure--icon {
	background-position: -948px 0;
}

.content-wrapper {
	border: 1px solid #DCDCDC;
	margin-bottom: 10px;
	padding: 10px;
	/*width: 98%;*/
}





.tab_content {
	display: none;
}

.tab_drawer_heading {
	display: none;
}

.hitlist .search--open {
	/*margin-right: .7429421%;*/
	margin-right: .9910803%;
	width: 19.2269574%;
}
.hitlist main {
	padding: 10px;
	width: 100%;
}
@media only screen and (min-width: 64.063em) { /* 1025 */
	.hitlist .search--open {
		margin-right: .7429421%;
		width: 14.6359584%;
	}
}
@media only screen and (min-width: 75.375em) { /* 1206 */
	.hitlist .content {
		width: 90%;
	}
}

.toolbar {
	background: #F3F3F3;
	border: 1px solid #D5D5D5;
	border-bottom: none;
	height: 60px;
	padding: 10px;
	position: relative;
	width: 100%;
}
.hitlist .toolbar {
	float: left;
	width: 79.5837463%;
}
@media only screen and (min-width: 75.375em) { /* 1206 */
	.hitlist .toolbar { /*0.844725111*/
		/*width: 84.4725111%;*/
		width: 84.3239227%;
	}
}
.pagination {
	float: left;
}
.pagination ul {
	display: inline-block;
	margin: 12px 0 0 8px;
	padding: 0;
}
.pagination li {
	float: left;
	list-style: none;
}
.pagination li .icon.prev,
.pagination li .icon.next {
	height: 16px;
	position: relative;
	width: 16px;
}
.pagination li .icon.prev {
	background-position: -1169px 0;
}
.pagination li .icon.prev:hover {
	background-position: -1203px 0;
}
.pagination li .icon.prev.is-disabled {
	background-position: -1186px 0;
	cursor: default;
}

.pagination li .icon.next {
	background-position: -1254px 0;
}
.pagination li .icon.next:hover {
	background-position: -1220px 0;
}
.pagination li .icon.next.is-disabled {
	background-position: -1237px 0;
}
.pagination li span {
	color: #7E8083;
	font-family: "NeoSansStdMedium", Arial, serif;
	font-size: 14px;
	font-size: .875rem;
	font-weight: normal;
	margin: 0 30px;
}
.switcher {
	float: left;
	height: 27px;
	margin-right: 10px;
	width: 52px;
}
.switcher ul {
	display: inline-block;
	margin: 6px 0 0 0;
	padding: 0;
}
.switcher li {
	float: left;
	list-style: none;
}
.switcher li .icon.list,
.switcher li .icon.grid {
	height: 27px;
	position: relative;
	width: 23px;
}
.switcher li .icon.list,
.switcher li .icon.list.is-selected:hover  {
	background-position: -1073px 0;
	margin-right: 6px;
}
.switcher li .icon.list:hover,
.switcher li .icon.list.is-selected {
	background-position: -1097px 0;
}

.switcher li .icon.grid,
.switcher li .icon.grid.is-selected:hover {
	background-position: -1121px 0;
}
.switcher li .icon.grid:hover,
.switcher li .icon.grid.is-selected {
	background-position: -1145px 0;
}
.saved {
	float: left;
	margin-right: 10px;
	width: 150px;
}
.saved button {
	background: #FFF; /* Old browsers */
	background: -moz-linear-gradient(top, #FFF 0%, #d8d8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFF 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFF 0%,#d8d8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFF 0%,#d8d8d8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFF 0%,#d8d8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
	border: 1px solid #CCC;
	border-radius: 0;
	color: #666;
	font-family: "NeoSansStdMedium", Arial, serif;
	font-size: 12px;
	font-size: .75rem;
	margin: 0;
	padding: 13px 26px 10px 26px;
	text-transform: uppercase;
}
.saved button:hover {
	background: #d8d8d8; /* Old browsers */
	background: -moz-linear-gradient(top, #d8d8d8 0%, #FFF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#FFF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d8d8d8 0%,#FFF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d8d8d8 0%,#FFF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d8d8d8 0%,#FFF 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d8d8d8 0%,#FFF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#FFF',GradientType=0 ); /* IE6-9 */
}
.saved button:focus {
	border: 1px solid #BB162B;
	outline: none;
}
.sorter {
	float: right;
	width: 310px;
}
.sorter select {
	background: #FFF;
	border-radius: 0;
	color: #666;
	font-size: 14px;
	font-size: .875rem;
	font-family: "NeoSansStdRegular", Arial, serif;
	float: left;
	height: 39px;
	width: 150px;
	margin: 0 10px 0 0;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.sorter select:focus {
	border: 1px solid #BB162B;
	outline: none;
}
.sorter select:last-of-type {
	margin-right: 0;
}


.results {
	float: left;
	padding: 0;
	position: relative;
	width: 79.7819623%; /* 805 / 1009 */
}
@media only screen and (min-width: 75.375em) { /* 1206 */
	.results {
		width: 84.4725111%; /* 1137 / 1346 */
	}
}
.results--list {
	border: 1px solid #d5d5d5;
	padding: 10px 10px 0 10px;
}
.results .vehicle {
	float: left;
	padding: 0;
	position: relative;
}
.results--grid .vehicle{
	width: 50%;
}
.results--list .vehicle {
	width: 100%;
}
.vehicle__img-count.icon {
	background-position: -1044px 0;
	height: 21px;
	left: 18px;
	position: absolute;
	top: 18px;
	width: 28px;
}
.vehicle__img-count span {
	color: #BB162B;
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 12px;
	font-size: .75rem;
	margin-left: 8px;
}
.vehicle a,
.vehicle a {
	display: block;
	text-decoration: none;
}
.vehicle--small,
.vehicle--large {
	border: 1px solid #D5D5D5;
	float: left;
	padding: 10px;
	position: relative;
}
.vehicle--small {
	margin-bottom: -1px;
	margin-left: -1px;
	width: 50%;
}
.vehicle--large {
	width: 100%;
}
.vehicle .vehicle__title,
.vehicle .vehicle__price,
.vehicle .vehicle__mileage,
.vehicle .vehicle__colour {
	font-family: "NeoSansStdRegular", Arial, serif;
	color: #333;
}
.vehicle--large .vehicle__title {
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bold;
	margin: 16px 0 9px 0;
}
.vehicle--small .vehicle__title {
	margin: 8px 0;
}
.vehicle--large .vehicle__colour {
	margin-bottom: 6px;
}
.vehicle--small .vehicle__title,
.vehicle--small .vehicle__price,
.vehicle--small .vehicle__mileage {
	font-size: 12px;
	font-size: .75rem;
}
.vehicle .vehicle__mileage {
	float: left;
}
.vehicle .vehicle__price {
	color: #BB162B;
	float: right;
	font-weight: bold;
}


.spec-row {
	border-bottom: 1px solid #D5D5D5;
}
.spec-row span {
	display: block;
	padding: 10px 0;
}


.results--list .vehicle {
	border: 1px solid #D5D5D5;
	margin-bottom: 10px;
}
.results--list .vehicle__title {
	font-size: 16px;
	font-size: 1rem;
	margin: 16px 0;
}
.results--list .vehicle__image {
	/*width: 258px;*/
	width: 23.1390135%;
}
.results--list .vehicle_spec {
	color: #333;
	font-family: "NeoSansStdRegular", Arial, serif;
}
.results--list .vehicle__image,
.results--list .vehicle_spec {
	float: left;
}
.results--list .vehicle_spec,
.results--list .vehicle__cta {
	padding: 0 15px;
}
.results--list .vehicle__mileage,
.results--list .vehicle__phone {
	float: left;
}
.results--list .vehicle__location {
	float: right;
}
.results--list .vehicle_spec {
	border-right: 1px solid #D5D5D5;
	font-size: 14px;
	font-size: .875rem;
	height: 193px;
	width: 53.9013453%;
}
.results--list .vehicle__cta {
	float: right;
	text-align: center;
	width: 22.7802691%;
}
.results--list .vehicle__price {
	font-size: 28px;
	font-size: 1.75rem;
	float: none;
}
.results--list .vehicle__distance {
	color: #666;
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 14px;
	font-size: .875rem;
}
.results--list .vehicle__save input[type="checkbox"] {
    display: none;
}
.results--list .vehicle__save input[type="checkbox"] + label {
	color: #666;
	cursor: pointer;
	font-family: "NeoSansStdMedium", Arial, serif;
	font-size: 12px;
	font-size: .75rem;
	margin: 2px 0 -2px 0;
}
.results--list .vehicle__save input[type="checkbox"] + label span {
	background: url('../imgs/sprite.png') no-repeat -331px 0;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 0 6px 0 0;
    vertical-align: middle;
    width: 16px;
}
.results--list .vehicle__save input[type="checkbox"]:checked + label span {
    background: url('../imgs/sprite.png') no-repeat -348px 0;
}
.results--list .vehicle__img-count.icon {
	left: 5px;
	top: 5px;
}

.details main {
	float: none;
}
.details .toolbar {
	background: none;
	border: none;
	height: 46px;
	margin: 0;
	padding: 10px;
	width: 100%;
}
.details .content {
	background: #F4F4F4;
	border-top: 1px solid #CED3D6;
	margin-bottom: 50px;
	padding: 20px 0 0 0;
}
@media only screen and (min-width: 75.375em) { /* 1206 */
	.details .content {
		border: 1px solid #CED3D6;
		margin-bottom: 50px;
		padding: 20px;
	}
}
.details .vehicle {
	background: #FFF;
	border: 1px solid #CED3D6;
	padding: 15px;
}
.details .vehicle header {
	background: none;
	padding: 12px 0 30px 0;
}
.details .vehicle .vehicle__title {
	float: left;
	font-size: 26px;
	font-size: 1.625rem;
	font-family: "NeoSansStdMedium", Arial, sans-serif;
	margin: 5px 0 0 0;
	text-transform: uppercase;
	font-weight: normal;
}
.details .vehicle .vehicle__title--location {
	font-family: "NeoSansStdRegular", Arial, sans-serif;
	text-transform: none;
}
.details .phone {
	color: #BB162B;
	float: right;
	font-family: "NeoSansStdMedium", Arial, sans-serif;
	font-size: 24px;
	font-size: 1.5rem;
}
.details .phone .icon.phone__icon {
	background-position: -1271px 0;
	cursor: default;
	height: 26px;
	margin-top: 6px;
	width: 26px;
}
.details .phone .phone__number {
	cursor: default;
	margin-left: 46px;
}
.details .vehicle .vehicle__details {
	border: 1px solid #D4D8DB;
	float: left;
	margin: 0 .7739938% 30px 0;
	padding: 20px;
	position: relative;
	width: 24.7678019%;
}
.details .vehicle .vehicle__gallery {
	float: left;
	margin: 0 .7739938% 30px 0;
	position: relative;
	width: 57.7399381%;
}
.details .vehicle .vehicle__img-count.icon {
	cursor: default;
	left: 10px;
	top: 10px;
	z-index: 1;
}
.details .vehicle .vehicle__zoom-icon.icon {
	background-position: -1332px 0;
	height: 30px;
	right: 10px;
	top: 10px;
	width: 31px;
	z-index: 1;
}
.details .vehicle .vehicle__zoom-icon.icon:hover {
	background-position: -1364px 0;
}
.details .vehicle .flex-pauseplay a {
	background-image: url('../imgs/sprite.png');
	background-repeat: no-repeat;
	bottom: 10px;
	cursor: pointer;
	display: block;
	height: 25px;
	opacity: 0.8;
	overflow: hidden;
	position: absolute;
	right: 10px;
	width: 29px;
	z-index: 1;
}
.details .vehicle .flex-pauseplay .flex-play {
	background-position: -1396px 0;
}
.details .vehicle .flex-pauseplay .flex-play:hover {
	background-position: -1426px 0;
}
.details .vehicle .flex-pauseplay .flex-pause {
	background-position: -1558px 0;
}
.details .vehicle .flex-pauseplay .flex-pause:hover {
	background-position: -1588px 0;
}
.details .vehicle .cta {
	float: right;
	position: relative;
	width: 15.9442724%;
}
.details .vehicle .cta a {
	color: #666;
	cursor: pointer;
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 12px;
	font-size: .75rem;
}
.details .vehicle .cta .icon.arrowright {
	background-position: -1298px 0;
	display: inline-block;
	height: 8px;
	margin-right: 8px;
	position: relative;
	width: 7px;
}
.details .vehicle .cta a:hover .icon.arrowright {
	background-position: -1298px -9px;
}
.details .vehicle .cta .button {
	color: #FFF;
	font-size: 14px;
	font-size: .875rem;
	height: 40px;
	margin-bottom: 10px;
	padding: 12px;
}
@media only screen and (min-width: 75.375em) { /* 1206 */
	.details .vehicle .cta .button {
		font-size: 18px;
		font-size: 1.125rem;
		height: 44px;
	}
}


.details .vehicle .cta .finance {
	margin-bottom: 34px;
}
.details .vehicle .vehicle__details .vehicle__price {
	font-family: "NeoSansStdBold", Arial, serif;
	float: none;
	font-size: 30px;
	font-size: 1.875rem;
	font-weight: normal;
	padding: 6px 0 20px 0;
	text-align: center;
}
.vehicle__approved img {
	display: block;
	margin: 10px auto;
}
.vehicle__spec {
	color: #222;
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 12px;
	font-size: .75rem;
	margin-top: 20px;
	width: 100%;
}
.vehicle__spec th,
.vehicle__spec td {
	font-weight: normal;
	padding: 10px 0;
	text-align: left;
}
.cta .social-media {
	margin: 34px 0 34px 24px;
}
.cta .qr-code img {
	display: block;
	margin: 0 auto;
}
.details .vehicle .specifications,
.details .vehicle .dealer-info,
.details .vehicle .similar-vehicles {
	float: left;
	margin-bottom: 20px;
	position: relative;
	width: 100%;
}
.specifications .specifications__heading {
	color: #333;
	font-family: "NeoSansStdBold", Arial, sans-serif;
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: normal;
	margin: 0 0 18px 0;
}
.details .vehicle .specifications .tabs li {
	width: 18%;
}
.details .vehicle .specifications .tab_container {
	border: 1px solid #D4D8DB;
	border-top: none;
	padding: 20px;
}
.specifications .tab_content ul {
	float: left;
	padding-right: 10px;
	width: 25%;
}
.specifications .tab_content,
.specifications .tab_content li {
	color: #7E8083;
    font-family: "NeoSansStdRegular", Arial, serif;
    font-size: 14px;
    font-size: .875rem;
}
.specifications .tab_content li {
    list-style-image: url('../imgs/bullet.gif');
    margin: 0 0 12px 16px;
}
.specifications .tab_content li:last-of-type {
	margin-bottom: 0;
}

.dealer-info {
	border: 1px solid #D4D8DB;
	padding: 20px;
}
.dealer-info .dealer-info__details,
.dealer-info .dealer-info__map-directions,
.dealer-info .dealer-info__sitelink {
	float: left;
	position: relative;
}
.dealer-info .dealer-info__details {
	margin-right: 1.6%;
	width: 20.48%;
}
.dealer-info .dealer-info__details address {
	color: #7E8083;
	font-style: normal;
	margin: 0;
}
.dealer-info .dealer-info__details .adr {
	margin-bottom: 20px;
}
.dealer-info .dealer-info__map-directions {
	margin-right: 1.6%;
	width: 61.12%;
}
.dealer-info .dealer-info__map {
	border: 1px solid #CBD0D3;
	height: 210px;
	width: 100%;
}
.dealer-info .dealer-info__sitelink {
	width: 15.2%;
}
.dealer-info .dealer-info__sitelink .button {
	font-size: 16px;
	font-size: 1rem;
	height: 30px;
	padding-top: 6px;
}
.dealer-info .dealer-info__name {
	color: #222;
	font-family: "NeoSansStdMedium", Arial, serif;
	font-weight: normal;
	font-size: 1px;
	font-size: 1rem;
	margin: 0 0 10px 0;
}
.dealer-info .tel {
	color: #7C7C7C;
	font-family: "NeoSansStdMedium", Arial, serif;
	font-weight: normal;
}
.dealer-info .tel .tel__number {
	color: #BB162B;
}
.dealer-info .dealer-info__directions {
	background: transparent;
	border: none;
	bottom: 10px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	left: 10px;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 2;
}
.dealer-info .dealer-info__directions input {
	background-color: #FFF;
	border: 1px solid #7e7e7e;
	border-right: none;
	border-radius: 0;
	color: #7C7C7C;
	float: left;
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 14px;
	height: 33px;
	margin: 0;
	padding: 0 0 0 10px;
	width: 197px;
	-webkit-appearance: none;
}
.dealer-info .dealer-info__directions .go {
	background: #FFF url('../imgs/sprite.png') no-repeat -1306px 0;
	border: 1px solid #7E7E7E;
	border-left: none;
	border-radius: 0;
	cursor: pointer;
	height: 33px;
	padding-top: 0;
	width: 25px;
}
.dealer-info .dealer-info__directions button {
	margin: 0;
	outline: none;
}
.dealer-info .dealer-info__directions .go span {
	position: absolute;
	left: -99999px;
}
.vehicle__gallery .slider {
	border: 1px solid #D4D8DB;
}
.vehicle__gallery .slider .slides li {
	margin: 0;
}
/* .vehicle__gallery .slider .flex-direction-nav {
	display: none;
} */
.vehicle__gallery .flexslider {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin: 0 0 4px 0;
}
.vehicle__gallery .carousel {
	margin: 0;
}
.vehicle__gallery .carousel li {
	cursor: pointer;
	margin-bottom: 0;
}
.flex-direction-nav a {
	/*height: 100%;*/
	margin: 0;
	top: 0;
}
/*.flex-direction-nav li {
	background: #CCC;
	height: 100%;
	width: 25px;
	position: absolute;
	top: 0;
}*/
.flex-direction-nav .flex-next,
.flex-direction-nav .flex-prev {
	background: #CCC;
	text-align: right;
	opacity: .8;
}
.flexslider:hover .flex-next,
.flex-direction-nav .flex-next {
	right: 0;
}
.flexslider:hover .flex-prev,
.flex-direction-nav .flex-prev {
	left: 0;
}
.flex-direction-nav .flex-next {
	background: #CCC url('../imgs/next.png') no-repeat 7px 50%;
}
.flex-direction-nav .flex-prev {
	background: #CCC url('../imgs/prev.png') no-repeat 7px 50%;
}

.similar-vehicles {
	border: 1px solid #CCC;
	width: 100%;
}
.similar-vehicles h3 {
	background: #ececec; /* Old browsers */
	background: -moz-linear-gradient(top, #ececec 0%, #e0dfe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#e0dfe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ececec 0%,#e0dfe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ececec 0%,#e0dfe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ececec 0%,#e0dfe0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ececec 0%,#e0dfe0 100%); /* W3C */
	border-bottom: 1px solid #CCC;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#e0dfe0',GradientType=0 ); /* IE6-9 */
	color: #BB162B;
	font-family: "NeoSansStdMedium", Arial, serif;
	font-size: 16px;
	font-size: 1rem;
	font-weight: normal;
	height: 28px;
	margin: 0;
	padding-top: 4px;
	text-align: center;
}
.similar-vehicles .flexslider,
.similar-vehicles .flexslider li {
	margin: 0;
	box-shadow: none;
}
.similar-vehicles .flexslider li {
	margin-right: 10px;
}
.similar-vehicles .slides li {
	position: relative;
}
.similar-vehicles .slides li .icon span {
	border: none;
}
.similar-vehicles .flexslider li:last-of-type {
	margin-right: 0;
}
.similar-vehicles .flex-viewport {
	padding: 0 25px;
}
.similar-vehicles .flexslider li span {
	border-bottom: 1px solid #CCC;
	display: block;
	font-size: 12px;
	font-size: .75rem;
	padding: 5px 0;
	width: 100%;
}
.similar-vehicles .similar-vehicles__title {
	color: #333;
	font-family: "NeoSansStdMedium", Arial, serif;
	font-weight: normal;
}
.similar-vehicles .similar-vehicles__price {
	color: #BB162B;
	font-family: "NeoSansStdBold", Arial, serif;
	font-weight: normal;
}

.contact-form {
	background: #FFF;
	color: #666;
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 14px;
	font-size: .875rem;
	height: auto;
	margin: 0 auto;
	padding: 25px;
	position: relative;
	width: 822px;
}
.contact-form form {
	margin: 0;
}
.contact-form select,
.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"] {
	width: 100%;
}
.contact-form .col {
	padding: 0;
}
.contact-form .interest {
	border: 1px solid #E1E1E1;
	border-right: none;
	border-left: none;
	padding: 16px 0 16px 0;
}
.contact-form .interest p {
	margin: 0;
}
.contact-form .checkbox {
	float: left;
	margin-top: 3px;
	min-height: inherit;
	padding: 0;
}
.contact-form .checkbox input[type="checkbox"] + label {
	font-size: 14px;
	font-size: .875rem;
}
.contact-form .checkbox input[type="checkbox"] + label span {
	margin: -2px 10px 0 34px;
}
.contact-form .main__heading,
.contact-form legend {
	font-family: "NeoSansStdMedium", Arial, sans-serif;
	font-weight: normal;
}
.contact-form .main__heading {
	border-bottom: 1px solid #E1E1E1;
	color: #BB162B;
	font-size: 36px;
	font-size: 2.25rem;
	margin: 0 0 26px 0;
	max-width: 651px;
	padding-bottom: 16px;
	width: 100%;
}
.contact-form .sub__heading {
	font-family: "NeoSansStdRegular", Arial, serif;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: normal;
	margin-bottom: 16px;
}
.contact-form legend {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 16px;
	padding: 0;
}
.contact-form label {
	float: left;
	margin-top: 10px;
	min-width: 118px;
}
.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form select {
	margin: 0 0 20px 0;
	max-width: 240px;
}
.contact-form input.postcode {
	margin-right: 10px;
	width: 130px;
}
.contact-form input.lookup {
	padding: 5px 16px 7px 16px;
}
.contact-form input[type="submit"] {
	padding-left: 60px;
	padding-right: 60px;
}
.contact-form .terms {
	font-size: 12px;
	font-size: .75rem;
	line-height: 1.2;
}
.icon.mfp-close,
.icon.mfp-close:active {
	background-position: -1482px 0;
	border-radius: 0;
	height: 37px;
	margin: 0;
	opacity: 1;
	right: 25px;
	top: 25px;
	width: 37px;
}
.icon.mfp-close:hover {
	background-position: -1520px 0;
}




/* $_Pager
================================================== */
.pager {
	list-style: none;
	padding: 0;
}
.pager li {
    display: inline;
}
.pager a {
	color: #666;
    display: inline-block;
    font-family: "NeoSansStdMedium", Arial, serif;
    font-size: 18px;
    font-size: 1.125rem;
    text-decoration: none;
    outline: none;
}
.pager .prev .icon.prev,
.pager .next .icon.next,
.pager .back .icon.back {
	display: inline-block;
	height: 16px;
	position: relative;
	width: 16px;
}
.pager .prev {
	margin-right: 50px;
}
.pager .prev .icon.prev {
	background-position: -1169px 0;
	margin-right: 20px;
}
.pager .prev:hover .icon.prev {
	background-position: -1203px 0;
}
.pager .prev .icon.prev.is-disabled {
	background-position: -1186px 0;
	cursor: default;
}
.pager .prev,
.pager .next,
.pager .back {
	float: left;
}
.pager .back .icon.back {
	background-position: -1169px 0;
	margin-right: 20px;
	margin-top: -1px;
}
.pager .back:hover .icon.back {
	background-position: -1203px 0;
}
.pager .back .icon.back.is-disabled {
	background-position: -1186px 0;
	cursor: default;
}

.pager .next .icon.next {
	background-position: -1254px 0;
	margin-left: 20px;
	float: right;
}
.pager .next:hover .icon.next {
	background-position: -1220px 0;
}
.pager .next .icon.next.is-disabled {
	background-position: -1237px 0;
	cursor: default;
}


@media screen and (max-width: 480px) {
	.tabs {
		display: none;
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
}


.print .content {
	width: 90%;
}
.print header .header--logo {
	margin-left: 0;
}
.button.print {
	padding: 6px 20px 6px 20px;
}